<div class="flex-container">
  <div class="flex-child">
<div class="container">
  <div>
    <label for="name">Name : </label>
    <input [(ngModel)]="pokemons.name" class="form-control w-50" style="background-color:#75b798" id="name" placeholder="name" />
  </div>
  <div>
    <label for="type">Type : </label>
    <input [(ngModel)]="pokemons.type" class="form-control w-50" style="background-color:#75b798" id="type" placeholder="type" />
  </div>
  <div>
    <label for="weight">Weight : </label>
    <input
      [(ngModel)]="pokemons.weight" class="form-control w-50" style="background-color:#75b798" id="weight" type="number" placeholder="weight" />
  </div>
  <div>
    <label for="img">Image : </label>
    <input
      [(ngModel)]="pokemons.img" class="form-control w-50" style="background-color:#75b798" id="img"  placeholder="Put URL here" />
  </div>
  <div>
    <button type="button" class="btn btn-success" (click)="createPokemons()">Create</button>
  </div>
</div>
</div>
<div class="flex-child">
  <div>
    <h3>Welcome to Developer Create.</h3>
    <br>
    <h5>Here you can create a new Pokemon.</h5>
    <br>
    <h5>Enter the new Pokemon data into the coresponding text boxes.</h5>
    <br>
    <h5>Clicking 'Create' will add the Pokemon to the database.</h5>
  </div>
</div>
</div>