<div class="container">
  <div>
    <label for="name">Name : </label>
    <input [(ngModel)]="pokemons.name" id="name" placeholder="name" />
  </div>
  <div>
    <label for="type">Type : </label>
    <input [(ngModel)]="pokemons.type" id="type" placeholder="type" />
  </div>
  <div>
    <label for="weight">Weight : </label>
    <input
      [(ngModel)]="pokemons.weight" id="weight" type="number" placeholder="weight" />
  </div>
  <div>
    <button type="button" (click)="createPokemons()">Create</button>
  </div>
</div>