<div *ngIf="pokemons" class="container">
  <div>
    Poke'dex Id: <span>{{ pokemons.id }}</span>
  </div>
  <div>
    <label for="name">Name : </label>
    <input [(ngModel)]="pokemons.name" class="form-control w-25" style="background-color:#75b798" id="name" placeholder="name" />
  </div>
  <div>
    <label for="type">Type : </label>
    <input [(ngModel)]="pokemons.type" class="form-control w-25" style="background-color:#75b798" id="type" placeholder="type" />
  </div>
  <div>
    <label for="weight">Weight : </label>
    <input
      [(ngModel)]="pokemons.weight" class="form-control w-25" style="background-color:#75b798" id="weight" type="number" placeholder="{{pokemons.weight}}" />
  </div>
  <div>
    <button type="button" class="btn btn-success" (click)="updatePokemons()">Update</button>
  </div>
  <div class="relative">
    <img
    src="assets/images/backgroundGrass.png"
    style="transform: translate(260px,-240px);"
    class="z-10"
    alt="backgroundGrass"
    width="350" height="300"
  />
  <img 
  [src]="pokemons.img"
  style="transform: translate(30px,-200px);">
  
  </div>
</div>
