.pokemon {
  padding: 100;
  list-style-type: none;
  width: 13em;
  text-align: left;
  overflow: visible;
}

.btn btn-danger {
  text-align: left;
}

.flex-container {
  display: flex;
}

.flex-child {
  flex: 1;
}  

.flex-child:first-child {
  margin-left: 100px;
} 

.flex-child:last-child {
  margin-right: 100px;
} 