

<div class="container">
  <h2>Poke`mon Database :</h2>
  <!-- <img
  src="assets/images/backgroundGrass.png"
  class="img-fluid rounded"
  alt="backgroundGrass"
/> -->
  <div class="container">
  <ul class="pokemon">
    <li *ngFor="let pokemons of currentPagePokemon">
    <button type="button" class="btn btn-danger" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .5rem;" (click)="deletePokemons(pokemons.id)">X</button>
      <a routerLink="/pokemon/{{pokemons.id}}">
        <span>  {{ pokemons.name }} </span>
      </a>
    </li>
  </ul>
  <button style="margin:5px;" (click)="previousPage()" type="button" class="btn btn-success">&lt; -- Previous</button>
  <button style="margin:5px;" (click)="nextPage()" type="button" class="btn btn-success">Next --&gt;</button>
</div>