<h2>Pokemon Ordered by ID in Poke'dex</h2>
<div class="container">
  <li *ngFor="let pokemons of currentPagePokemon"  type="button" class="btn btn-outline-success dash-btn">
    <td>( {{pokemons.id}} ) {{pokemons.name}}</td>
    <img 
          [src]="pokemons.img"
          >
  </li>
  <button style="margin:5px;" (click)="previousPage()" type="button" class="btn btn-success">&lt; -- Previous</button>
  <button style="margin:5px;" (click)="nextPage()" type="button" class="btn btn-success">Next --&gt;</button>
</div>
