<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
  <div class="hero-image">
  <div class="hero-text">
    <img
        src="../assets/images/monTypesLogo.png"
        height="200"
        alt="monTypes"
        loading="eager"
      />
  </div>
</div>

<p class="description">A simple Pokémon database that allows the user to navigate through all original 151 Pokemon seamlessly. The application has full CRUD capabilities allowing the user to make quick and easy changes.</p>

</body>
</html>